<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleDisplayName</key>
	<string>YAHE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>YAHE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jp.nozawataiki.yahe</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7308761595166416~8455092163</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.flutter.background.refresh</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>周囲のYAHEユーザーを検知するためにBluetoothを使用します。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>周囲のYAHEユーザーを検知するためにBluetoothを使用します。</string>
	<key>NSCameraUsageDescription</key>
	<string>愛車の写真を撮影するために使用します。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>すれ違い検知のために現在地を使用します。位置情報はすれ違いマッチングにのみ使用され、停止後は即座に削除されます。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>バックグラウンドですれ違いを検知するために使用します。停止後は即座に削除されます。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>すれ違い検知のために位置情報を使用します。停止後は即座に削除されます。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>愛車の写真を選択するために使用します。</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>お客様に合わせた広告を表示するために、アプリのトラッキング許可をお願いします。許可しなくてもアプリの主要機能は利用できます。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
